<div class="container skills">
  <div class="skills-list">
    <h2>Skills List</h2>
    <div class="skills-wrap">
      <div class="row">
        <p><b>Skill Name</b></p>
        <p>
          <b
            >Skill Year<br />
            Aquired</b
          >
        </p>
        <p><b>Skill Rating</b></p>
        <p><b>Edit/Delete</b></p>
      </div>
      <div class="row" *ngFor="let skill of skills">
        <p class="name">{{ skill.name }}</p>
        <p class="year"><span>Since </span>{{ skill.year }}</p>
        <div class="bar"><span [ngStyle]="{ width: skill.rating * 10 + 'px' }"></span></div>
        <div class="cta">
          <i class="fas fa-edit" (click)="editSkill(skill)"></i>
          <i class="fas fa-trash-alt" (click)="deleteSkill(skill.id)"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="skill-form">
    <h2>{{ changeSkill }} Skill</h2>
    <form>
      <div>
        <label for="skill-name">Skill Name</label>
        <input id="skill-name" type="text" [value]="skillName" (change)="updateSkillName($event)" />
      </div>
      <div>
        <label for="skill-rating">Skill Rating</label>
        <select id="skill-rating" (change)="updateSkillRating($event)">
          <!-- <option selected hidden>{{ skillRating }}</option> -->
          <option *ngFor="let n of rates" [selected]="skillRating == n">{{ n }}</option>
        </select>
      </div>
      <div>
        <label for="skill-year">Skill Year Aquired</label>
        <input id="skill-year" type="number" [value]="skillYear" (change)="updateSkillYear($event)" />
      </div>
    </form>
    <button (click)="updateSkill()">SUBMIT</button>
  </div>
</div>
