<div class="container skills">
  <div class="skills-list">
    <h2>Skills List</h2>
    <div class="skills-wrap">
      <div class="row">
        <p><b>Skill Name</b></p>
        <p>
          <b
            >Skill Year<br />
            Aquired</b
          >
        </p>
        <p><b>Skill Rating</b></p>
        <p><b>Edit/Delete</b></p>
      </div>
      <!-- Skill List goes here -->
    </div>
  </div>
  <div class="skill-form">
    <h2>Add / Edit Skill</h2>
    <form>
      <div>
        <label for="skill-name">Skill Name</label>
        <input id="skill-name" type="text" />
      </div>
      <div>
        <label for="skill-rating">Skill Rating</label>
        <select id="skill-rating">
          <!-- rating -->
        </select>
      </div>
      <div>
        <label for="skill-year">Skill Year Aquired</label>
        <input id="skill-year" type="number" />
      </div>
    </form>
    <button>SUBMIT</button>
  </div>
</div>
