<header>
  <div class="container">
    <nav class="nav-wrapper">
      <a href="/home" class="brand-logo">LOGO</a>
      <ul class="menu">
        <li>
          <a href="/home">HOME</a>
        </li>
        <li>
          <a href="/skills">SKILLS</a>
        </li>
        <li>
          <a href="/static">STATIC</a>
        </li>
      </ul>
      <span class="burger" (click)="addClass()">
        <i class="fas fa-bars"></i>
      </span>
    </nav>
  </div>
  <div class="mobile-nav" [class.show]="active">
    <ul class="menu">
      <li>
        <a href="/home" (click)="addClass()">HOME</a>
      </li>
      <li>
        <a href="/skills" (click)="addClass()">SKILLS</a>
      </li>
      <li>
        <a href="/static" (click)="addClass()">STATIC</a>
      </li>
    </ul>
  </div>
</header>
