<div class="container home">
  <div class="skills-list">
    <h2>Skill List</h2>
    <div class="skills-wrap">
      <div class="row">
        <p><b>Skill Name</b></p>
        <p><b>Skill Year Aquired</b></p>
        <p><b>Skill Rating</b></p>
      </div>
      <div class="row" *ngFor="let skill of skills">
        <p class="name">{{ skill.name }}</p>
        <p class="year"><span>Since </span>{{ skill.year }}</p>
        <div class="progress bar">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: skill.rating * 10 + '%' }"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="basic-data left">
    <div class="full-name">
      <h2>Kristina</h2>
      <h2>Milenkovic</h2>
    </div>
    <img src="https://image.flaticon.com/icons/svg/219/219969.svg" alt="avatar" />
  </div>
  <div class="contact left">
    <h3>Contact</h3>
    <ul>
      <li>
        <i class="fas fa-envelope"></i>
        <a href="mailto:kristinamilenkovic@gmail.com">kristinamilenkovic@gmail.com</a>
      </li>
      <li>
        <i class="fab fa-linkedin"></i>
        <a target="_blank" href="https://www.linkedin.com/in/krismilenkovic/">linkedin.com/in/krismilenkovic/</a>
      </li>
      <li>
        <i class="fab fa-github-square"></i>
        <a target="_blank" href="https://github.com/krismilenkovic/">github.com/krismilenkovic/</a>
      </li>
    </ul>
  </div>
  <div class="graph left">
    <h2>Skill Graph</h2>
    <div class="chart" style="display: block;">
      <canvas
        baseChart
        width="400"
        height="200"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
